[submodule "src/main/resources/config"]
	path = src/main/resources/config
	url = https://github.com/fingersdanny/E2E1-Anabada-Secret.git
[submodule "src/test/resources/config"]
	path = src/test/resources/config
	url = https://github.com/fingersdanny/E2E1-Anabada-Test-Secret.git
